.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --accent-color: #2196f3;
  --card-set-gap: 30px;
  --timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  color: #212121;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}

.address {
  font-style: normal;
}

.container {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 30px;
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.header .site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button .icon-menu-open {
  display: none;
}

.menu-button.is-open .icon-menu-open {
  display: block;
}

.menu-button.is-open .icon-menu-close {
  display: none;
}

.menu-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 60px;
  text-align: center;
  font-size: 18px;
}

.menu-container.is-open {
  display: block;
}

.nav-logo {
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #212121;
}

.nav-logo span {
  color: #2196f3;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-bottom: 60px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 480px 400px;
}

.hero-title {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
}

.hero-link {
  min-width: 200px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 32px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: block;
  margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_tablet-1x.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 768px 400px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_tablet-2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_desk-1x.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1600px 600px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_desk-2x.jpg");
  }
}

.advantages-list-icon {
  width: 65px;
  height: 70px;
}

.advantages-list-icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  max-width: 450px;
  height: 120px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.advantages-list-title {
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages-list-undertitle {
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
  }
  .advantages-list > .advantages-list-item {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
  .advantages-list-title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list > .advantages-list-item {
    flex-basis: calc(100% / 4 - var(--card-set-gap));
  }
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .services {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .services {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section-title {
    margin-bottom: 50px;
  }
  .services-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
  }
  .services-list > .services-list-item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
  .services-list-item {
    max-width: 370px;
    max-height: 294px;
  }
  .services-thumb {
    position: relative;
  }
  .services-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.172;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    padding-top: 27px;
    padding-bottom: 27px;
    transform: translateY(0);
  }
}

.teams {
  background-color: #f5f4fa;
  margin-top: 60px;
  padding-top: 60px;
}

.teams-card {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

.teams-card-photo {
  width: 100%;
}

.teams-card-position {
  padding-top: 30px;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 32px;
}

.teams-list {
  display: block;
  padding-bottom: 60px;
}

.teams-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.teams-list-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.social-list {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: all 250ms var(--timing-fn);
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

@media screen and (min-width: 768px) {
  .teams-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.clients {
  background-color: #ffffff;
  margin-top: 60px;
  margin-bottom: 60px;
}

.clients-list {
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.clients-list > .clients-list-item {
  flex-basis: calc(100% / 2 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 210px;
  height: 90px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #ffffff;
  transition: all 250ms var(--timing-fn);
}

.clients-link:hover, .clients-link:focus {
  border: 1px solid var(--accent-color);
}

.clients-list-icon {
  display: block;
  fill: #afb1b8;
}

.clients-link:hover .clients-list-icon,
.clients-link:focus .clients-list-icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .clients-link {
    max-width: 226px;
  }
  .clients-list > .clients-list-item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    margin-top: 94px;
    margin-bottom: 94px;
  }
  .clients-list {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  display: block;
  text-align: center;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-logo span {
  color: #2196f3;
}

.footer-address-list {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 20px;
  text-align: center;
}

.footer-map {
  color: #ffffff;
}

.footer-mail,
.footer-phone {
  color: rgba(255, 255, 255, 0.6);
}

.join {
  display: block;
  text-align: center;
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social-footer {
  width: 206px;
  height: 80px;
  margin: 60px auto;
}

.social-list-footer {
  display: flex;
  justify-content: space-between;
}

.social-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 20px;
  transition: background-color 250ms var(--timing-fn);
}

.social-link-footer:hover, .social-link-footer:focus {
  background-color: var(--accent-color);
}

.social-icon-footer {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-form-input {
  display: block;
  min-width: 450px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  transition: border-color 250ms var(--timing-fn);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin: 20px auto;
}

.footer-form-btn {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  border-color: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 10px 28px 10px 29px;
  margin: 0 auto;
}

.footer-form-icon {
  fill: #ffffff;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer-contact {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 60px;
  }
  .social-footer {
    margin: 0 auto;
  }
  .footer-address {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  .social-footer {
    margin-left: 70px;
  }
  .footer-action {
    margin-left: auto;
  }
  .footer-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .footer-form-input {
    width: 358px;
    margin-right: 12px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .join {
    text-align: left;
  }
  .footer-address-list {
    text-align: left;
  }
  .footer-logo {
    text-align: left;
  }
}
/*# sourceMappingURL=main.css.map */